body {
  background-color: white;
  color: white;
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

::placeholder {
  font-size: 2rem;
}

.react-audio-player {
  text-align: center;
  position: relative;
  top: 15rem;
}

.accounts-dialog {
  height: 30vh;
  width: 80vw;
  position: relative !important;
  background: inherit;
  color:#6689CA;
  font-size: 3rem;
  border: none;
}

.login-link-text {
  font-size: 3rem;
}
