/* To-Do List */

/*-----------------------------------------*/

.todo-list {
  align-self: center;
  background-color: white;
  border-radius: 5px;
  width: 400px;
}

.todo-list h1 {
  background-color: #a071b8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.todo-list li {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  font-size: 1.25rem;
  padding: 1rem;
  align-items: flex-start;
}

.todo-list li span {
  flex: 1 0 60%;
  font-size: 0.9rem;
  margin-right: 1rem;
  margin-top: 0.33333rem;
}

.todo-list li input[type="checkbox"] {
  display: none;
}

.todo-list li input[type="checkbox"] + label:before {
  display: inline-block;
  color: #c2c2c2;
  content: "\f10c";
  cursor: pointer;
  font-family: FontAwesome;
  letter-spacing: 1rem;
  margin-left: 1rem;
}

.todo-list li input[type="checkbox"] + label:hover::before {
  color: #4ccbb0;
}

.todo-list li input[type="checkbox"]:checked + label:before {
  color: #4ccbb0;
  content: "\f05d";
}

.todo-list li button {
  background: transparent;
  border: 0;
  color: #c2c2c2;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0;
}

.todo-list li button:hover {
  color: #fa4f4f;
}

.add-todo {
  background-color: #c2c2c2;
  padding: 1rem;
}

.add-todo form {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.add-todo form input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #8f8f8f;
  font-size: 1rem;
  line-height: 1;
  padding: 0.33333rem;
}

.add-todo form input[type="text"]:focus {
  border-bottom-color: #a071b8;
}

.add-todo form span {
  color: #8f8f8f;
  font-size: 0.9rem;
  line-height: 1;
  text-align: right;
}

.todo-admin {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  min-height: 68px;
  padding: 1rem;
}

.todo-admin div span {
  color: #c2c2c2;
}

.todo-admin button {
  background-color: transparent;
  border: 1px solid #a071b8;
  color: #a071b8;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.16667rem 0.33333rem;
}

.todo-admin button:hover {
  border: 1px solid #4ccbb0;
  color: #4ccbb0;
}

.app-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.logged-out-message {
  margin: 1rem;
  text-align: center;
}

/* Common */

.login-wrapper {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.login-close-text {
  display: block;
  line-height: 1;
  visibility: hidden;
}

.login-close-text:after {
  content: "\2716";
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
}

.accounts-dialog {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 1rem;
  text-align: left;
}

.accounts-dialog label {
  margin-right: 0.5rem;
}

.accounts-dialog input {
  border: 0;
  border-bottom: 1px solid #8f8f8f;
  color: #8f8f8f;
  font-size: 0.9rem;
}

.accounts-dialog input:focus {
  border-bottom-color: #4ccbb0;
}

.login-link-and-dropdown-list {
  position: relative;
  text-align: right;
}

.login-link-text {
  color: white;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.login-close-text {
  position: relative;
}

.additional-link-container {
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

[id="signup-link"],
[id="forgot-password-link"],
[id="back-to-login-link"] {
  cursor: pointer;
  text-decoration: underline;
}

[id="signup-link"]:hover,
[id="forgot-password-link"]:hover,
[id="back-to-login-link"]:hover {
  color: #4ccbb0;
}

[id="login-buttons-password"],
[id="login-buttons-open-change-password"],
[id="login-buttons-logout"] {
  cursor: pointer;
}

[id="login-buttons-open-change-password"]:hover {
  color: #4ccbb0;
}

[id="login-buttons-open-change-password"] {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

[id="login-buttons-logout"],
.login-button-form-submit {
  background-color: #a071b8;
  color: white;
  display: block;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

[id="login-buttons-logout"]:hover,
.login-button-form-submit:hover {
  background-color: #4ccbb0;
}

[id="login-email-label-and-input"],
[id="login-old-password-label-and-input"],
[id="login-password-label-and-input"] {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 0.5rem;
}

[id="login-password-label-and-input"],
[id="forgot-password-email-label-and-input"] {
  margin-bottom: 1rem;
}

.login-form .error-message {
  color: red;
  font-size: 0.85rem;
}
